body{
    background-color: cornflowerblue;
}

div{
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#a1{
    background-color: brown;
    width: 600px;
    height:  100px;
    right: 700px;
    top: 0px;
}

#a2{

    background-color: darkgoldenrod;
    left: 580px;
    height: 500px;
    width: 100px;
    top: 100px;
}

#a3{
    background-color: darkgreen;
    left: 680px;
    height: 500px;
    top: 100px;
    width: 400px;
}

#a4{
    background-color: darkgoldenrod;
    right: 700px;
    top: 100px;
    width: 100px;
    height: 500px;
}

#a5{
    background-color: brown;
    width: 600px;
    height:  100px;
    right: 700px;
    top: 600px;
}

hfgh
